name: publish
on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: vnxx/animnya-api.bykevin.work

jobs:
  build-and-push-image:
    name: publish image
    runs-on: ubuntu-latest
    # runs-on: blacksmith-4vcpu-ubuntu-2204

    steps:
      - uses: actions/checkout@v3

      - name: Login
        run: |
          echo ${{ secrets.PAT }} | docker login ghcr.io -u vnxx --password-stdin

      - name: Get short SHA
        id: slug
        run: echo "SHA7=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV

      - name: Build and Publish
        run: |
          docker build . --tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.head_ref || github.ref_name }}-${{ env.SHA7 }} --tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} --all-tags

      - name: Deploy to Coolify
        run: |
          curl --request GET '${{ secrets.COOLIFY_WEBHOOK }}' --header 'Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}'
